<%= form_tag movies_path, :method=> :get, :id => "movies_search" do %>
    <h5>
      <strong>Watch movies in</strong>

      <div style="display: inline">
      <%= select("movie","language", Movie.select("language").uniq.order("language ASC").map {|u| [u.language,u.language]},{:prompt=> "ANY LANGUAGE"},{:name => "language",:class=>"select", :title=>"SELECT LANGUAGE"} )  %>
      </div>

      <strong>after</strong>

      <div style="display: inline">
      <%= select("movie","year",Movie.select("year").uniq.order("year DESC").map {|u| [u.year,u.year]},{:prompt=> "ANY YEAR"},{:name => "year",:class=>"select", :title=>"ANY YEAR"})  %>
      </div>

      <strong> starring</strong>

      <div style="display: inline">
      <%= select("actor","name",Actor.select("name,count(name) as c_name").group("name").order("c_name DESC").map {|u| [u.name,u.name]}.uniq ,{:prompt=> "ANY ACTOR"},{:name => "actor_1",:class=>"select", :title=>"ANY ACTOR"})  %>
      </div>

        <strong>and</strong>

      <div style="display: inline">
        <%= select("actor","name",Actor.select("name,count(name) as c_name").group("name").order("c_name DESC").map {|u| [u.name,u.name]}.uniq,{:prompt=> "ANY ACTOR"},{:name => "actor_2",:class=>"select", :title=>"ANY ACTOR"} )  %>
      </div>

    </h5>

    <!--<%= submit_tag "Search", :name=>nil, :hidden=> :true %>-->
<% end %>