<%= form_tag movies_path, :method=> :get, :id => "movies_search" do %>
    <h5>
      <strong>Showing all movies in</strong>

      <div style="display: inline">
      <%= select("movie","language", Movie.all.map {|u| [u.language,u.language]}.uniq,{:prompt=> "ANY LANGUAGE"},{:name => "language",:class=>"select", :title=>"ANY LANGUAGE"} )  %>
      </div>

      <strong>after</strong>

      <div style="display: inline">
      <%= select("movie","year",Movie.order("year DESC").map {|u| [u.year,u.year]}.uniq,{:prompt=> "ANY YEAR"},{:name => "year",:class=>"select", :title=>"ANY YEAR"})  %>
      </div>

      <strong> starring</strong>

      <div style="display: inline">
      <%= select("movie","actor1",Movie.order("actor1 ASC").map {|u| [u.actor1,u.actor1]}.uniq ,{:prompt=> "ANY"},{:name => "actor1",:class=>"select", :title=>"ANY ACTOR"})  %>
      </div>

        <strong>and</strong>

      <div style="display: inline">
        <%= select("movie","actor2",Movie.order("actor2 ASC").map {|u| [u.actor2,u.actor2]}.uniq,{:prompt=> "ANY"},{:name => "actor2",:class=>"select", :title=>"ANY ACTOR"} )  %>
      </div>

    </h5>

    <!--<%= submit_tag "Search", :name=>nil, :hidden=> :true %>-->
<% end %>