<% provide(:title, 'Watch '+ @movie.language + ' Movie ' + @movie.title + ' Online From Official Streaming Services') %>
<% provide(:description, 'Online listings of internet services showing '+ @movie.year.to_s + ' '+ @movie.language + ' feature film ' + @movie.title + '. ' + @movie.synopsis) %>
<% provide(:fbtitle, @movie.title+' - Watch Online') %>
<% provide(:fbtype, 'movie') %>
<% provide(:fbimage, @movie.poster_url(:movie_poster)) %>

<p id="notice"><%= notice %></p>

<div itemscope itemtype="http://schema.org/Movie" class="row-fluid" id="movie_page">

  <div itemprop="image" class="span3" id="poster_image" style="text-align:center">
    <%= image_tag(@movie.poster_url(:movie_poster),:title => @movie.title, :alt=> 'Watch ' + @movie.title + 'Online', :class=>"img-polaroid" ) %>
  </div>

  <div class="span8 offset1">

    <div itemprop="name" class="row" id="movie_title">
      <h4><%= "#{@movie.title} ( #{@movie.year} ) , #{@movie.language} " %></h4>
    </div>

    <div itemprop="description" class="row" id="movie_info" style="text-align: justify">
      <p>
        <b>Synopsis:</b>
        <%= @movie.synopsis %>
      </p>
    </div>

    <div class="row" id="platforms">
      <div class="container">
        <p>
        <h5>Watch On</h5>
        <p>

      </div>

      <ul class="thumbnails">
        <% @movie.vods.each do |vod| %>
            <li class="span2">
              <div class="thumbnail" align="center" style="border: none" >
                <%= link_to image_tag(vod.platform.logo_url(:small).to_s, :alt => 'Watch '+@movie.language.downcase+' movie '+@movie.title.titlecase+' online on '+vod.platform.name, :title => 'Watch '+@movie.language.downcase+' movie '+@movie.title.titlecase+' online on '+vod.platform.name,:class=>"img-rounded"), vod.movie_url,:target=>"_blank", :rel=>'nofollow', :class=>"outbound_links" %>
                <h5><%= link_to truncate(vod.platform.name, :length => 20) ,vod.movie_url,:target=>"_blank" , :rel=>'nofollow',:class=>"outbound_links" %></h5>
              </div>
              <br><br>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>