<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Watch Indian Movies Online Legally - MovieKaKa" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>

<header>
  <div class="container">
    <div class="row" style="vertical-align:baseline">
      <div class="span6">
        <div id="logo">
          <%= link_to image_tag("moviekaka.png", :alt => "www.MovieKAKA.com"),root_path   %>
        </div>
      </div>
      <div class="span2 offset2">
        <div  id="addthis" >
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_email"></a>
          </div>
        </div>
      </div>
      <div class="span2">
        <a href="#contact" role="button" class="btn btn-primary" data-toggle="modal" >Contact Us</a>
      </div>

    </div>
  </div>
</header>

<div class="navbar">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</div>

<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <!--<%= render 'layouts/messages' %>-->
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
<%= render 'layouts/addons' %>
<%= render 'layouts/analytics' if Rails.env == 'production' %>
<%= render 'layouts/contact' %>

</body>
</html>


